

  form {
    display: flex;
    flex-direction: column;    
    margin:10px;  
    
    

    div{      
      // margin-bottom:10px;
      
    .error {
    line-height: 16px;
    min-height: 16px;
    width: 100%;
    color: #b90e0a;
    text-align: left;
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
    }
  }
  