.ourMenu{
    background-color: #28162f;
    
}

.title{
    color: #DBB9DB;
    font-family: "Work Sans",sans-serif;
    text-align: center;
    padding: 20px;
    
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 32px;
   
    
}

.productList{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    // width: 1200px;
    
}