.cartContent{
    display: flex;    
    justify-content: space-around;
    
}

.cartForm{
    width: 450px;
    height: 500px;
    display: block;
    background-color: #fffff0c5;
    border: 1px solid rgba(0, 170, 238, 0.4);
    border-radius: 30px;
}