.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Philosopher",sans-serif;
    font-style: normal;
    font-weight: bold;    
    line-height: 24px;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px 10px 10px 10px;
    background-color: #DBB9DB;
}    

.img{
    border-radius: 30px 10px 30px 0px;
    width: 400px;
    height: 300px;
    
}

.title{
   text-transform: uppercase; 
   margin-top: 10px;
   font-size: 25px;
}

.price{
    margin-top: 10px;
    font-size: 20px;
    
}

.color{
    font-size: 10px;
    color:grey;
    margin-right: 10px;
    align-self: flex-end;
}


.otherInfo{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 400px;
    border: 1px transparent;
    cursor: pointer;
}

.btnModal{
    width: 100px;
    height: 40px;
    background-color:#EB8E78;
    margin: 15px;
    color: black;
    border-radius: 5px;
    border:none;
    cursor: pointer;
}