header{
    background-color: rgb(0, 0, 8) ;
    height: 100px;
}

header img{
    height: 100px;
}
.nav-list{
    display: flex;   
    justify-content: space-around;
    align-items: center;
    
    
}

.nav-item{
    display: inline-block;
    
}

.nav-item-link{
    text-decoration: none;
    font-family: "Work Sans",sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

