.modal__wrapper{
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: rgb(0,0,0, .2);
    backdrop-filter: blur(10px);
  
  }
  
  .modal__wrapper.open{
    height: 100%;
    display: block;
  }
  
  .modal__wrapper.close{
    height: 0;
    display: none;
  }
  
  .modal__body{
      max-width: 500px;
    margin: auto;  
    margin-top: 15%;
     border-radius: 10px;
    max-height: 100%;
    overflow-y: scroll; 
    color: black;
  }
  
  .modal__header{
    display: flex;
    justify-content: space-around;
    background: #FED9FF ;
    max-width: 100%;
    padding: 20px;  
    align-items: center;
  }
  
  .modal__massage{
    background: #FFE2E2 ;
    padding: 20px;
  }
  
  .modal__body::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  
  .modal__close{
    display: block;   
    font-size: 40px;  
    cursor: pointer;  
    color: black;
  }
  
  .modal__body h2{
    text-align: left;
    width: 100%;
    margin: 0;
  }

    .modal__ftr{
    background: #FFE2E2 ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .modalActions{
    width: 100px;
    height: 40px;
    background-color:#EB8E78;
    margin: 15px;
    color: black;
    border-radius: 5px;
    border:none;
    cursor: pointer;
   
  }
  
